#photo-template img, #photo-template h2, #photo-template p{
    width: 145px;
    
}

#photo-template img{
    height: 130px;
}

#photo-template {
    width: 145px;
    height: 250px;
    padding: 20px;
    float: left;
    text-align: center;
    margin: 5px;
    background-color: #dddddd;
    box-shadow: rgba(128, 128, 128, 0.493) 2px 2px;

}

#photo-template h2{
    font-weight: bold;
    font-size: 17px;
    font-family: 'Delius', cursive;
    padding-bottom: 10px;
    height: 30px;

}

p{
    padding-top: 5px;
    font-size: 13px;
}
